//
// COLORS
//

$primary-color: #00bcd4;
$primary-color-light: lighten($primary-color, 15%);
$primary-color-dark: darken($primary-color, 15%);

$secondary-color: #00897B;
$secondary-color-light: lighten($secondary-color, 15%);
$secondary-color-dark: darken($secondary-color, 15%);

//
// TYPOGRAPHY
//

$app-header-font: Roboto, sans-serif;
$app-body-font: Roboto, sans-serif;

//
// GRID
//

$small-screen: 480px;
$small-screen-up: $small-screen + 1;

$medium-screen: 768px;
$medium-screen-up: $medium-screen;

$large-screen: 1024px;
$large-screen-up: $large-screen + 1;

$medium-and-up: "only screen and (min-width : #{$small-screen-up})";
$large-and-up: "only screen and (min-width : #{$medium-screen-up})";
$extra-large-and-up: "only screen and (min-width : #{$large-screen-up})";
$small-and-down: "only screen and (max-width : #{$small-screen})";
$medium-and-down: "only screen and (max-width : #{$medium-screen})";
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})";
