//
// COLORS
//

$primary-color: #1E88E5;
$primary-color-light: lighten($primary-color, 15%);
$primary-color-dark: darken($primary-color, 15%);

$secondary-color: #00897B;
$secondary-color-light: lighten($secondary-color, 15%);
$secondary-color-dark: darken($secondary-color, 15%);

$success-color: #31b50f;
$error-color: #ec5840;

//
// TYPOGRAPHY
//

$app-header-font: Roboto, sans-serif;
$app-body-font: Roboto, sans-serif;

//
// MATERIALIZECSS
//

// Media Query Ranges
$small-screen: 600px;
$small-screen-up: $small-screen + 1;

$medium-screen: 992px;
$medium-screen-up: $medium-screen;

$large-screen: 1200px;
$large-screen-up: $large-screen + 1;

$medium-and-up: "only screen and (min-width : #{$small-screen-up})";
$large-and-up: "only screen and (min-width : #{$medium-screen-up})";
$extra-large-and-up: "only screen and (min-width : #{$large-screen-up})";
$small-and-down: "only screen and (max-width : #{$small-screen})";
$medium-and-down: "only screen and (max-width : #{$medium-screen})";
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})";

// Grid
$num-cols: 12;
$gutter-width: 1.5rem;
$element-top-margin: $gutter-width/3;
$element-bottom-margin: ($gutter-width*2)/3;

//
// VulcanVal
//

$vv-label-error-color: $error-color;
$vv-field-error-border-color: $error-color;
$vv-field-error-focus-border-color: $error-color;
$vv-display-error-color: $error-color;
