.field {
  display: block;
  margin: 0 0 1rem;
  border-bottom: 1px solid #777;
  padding: 1rem 0;

  .col.input-field {
    padding: 0;

    label {
      left: 0;
    }
  }
  .vv-display {
    margin-bottom: 20px;
  }
}
