html, body {
  font-family: $app-body-font;
  color: rgba(0, 0, 0, 0.87);
}

h1, h2, h3, h4, h5, h6 {
  font-family: $app-body-font;
  font-weight: bold;
}

a {
  transition: all 200ms ease-out;
  color: $primary-color;

  &:hover {
    color: $primary-color-light;
  }
}
