.attributes-app {
  //

  .attributes-app__main {
    padding: 1rem 0;
  }
  .attributes-app__attributes {
    display: block;
    padding: 1rem 0;
  }
  .attributes-app__opts {
    margin-top: 1rem;
  }
}
