@import 'client/settings';

.attributes {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  transition: all 200ms ease-out;
  animation: app-small-appear 200ms ease-out 0ms 1;

  .attributes__main {
    flex: 1;
    padding: 1rem;
    margin: 0 auto;
    width: 100%;
    max-width: 1400px;
  }
  .attributes__column {
    //
  }
  .attributes__select {
    width: 100% !important;
  }
  .attributes__attributes {
    display: block;
    padding: 1rem 0;
  }
  .attributes__opts {
    margin-top: 1rem;
    text-align: right;
  }
  .tab {
    display: none !important;
  }
  .attributes__code {
    font-size: 0.875rem;
  }
  footer {
    background-color: #111;
    color: #eee;

    p {
      margin: 1rem;
    }
    a {
      color: #eee;
    }
  }

  @media #{$medium-and-up} {
    .attributes__select {
      display: none !important;
    }
    .tab {
      display: block !important;
    }
  }

  @media #{$large-and-up} {
    .attributes__main {
      > .row {
        margin-bottom: 0;
      }
    }
    .attributes__column {
      height: calc(100vh - 150px);
      overflow-y: auto;
    }
  }
}
